/*This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.*/

/* body background color */
body {
	background-color: #e5e5e5;
}
/* hover rules and pre- hover rules */
a {
	text-decoration: underline;
	text-decoration-color: #7a0dad;
	color: #000000;
	
}
a:hover {
	color: #660066;
	text-decoration-color: #000000;
}
nav a.navButton{
	display: inline-block;
	margin: 0 1rem 0 0;
	font-size: 1.1rem;
	font-family: Geneva, Verdana, Arial, sans-serif;
	font-style: italic;
	text-decoration: none;
}
nav a.navButton:hover {
	color: #f7f7f7;
}
footer a#backToTop {
	display: inline-block;
	float: right;
	margin-right: 32px;
	line-height: 1.25rem;
	min-height: 1.25rem;
	max-height: 1.25rem;
	min-width: 1.3rem;
	max-width: 1.3rem;
	text-decoration: none;
	border: solid;
	border-color: #000000;
	text-align: center;
	border-radius: 2px;
	color: #7a0dad;
	text-decoration: none;
	background-color: #000000;
	border-color: #ffffff;
}
footer a#backToTop:hover {
	line-height: 1.3rem;
	min-height: 1.3rem;
	max-height: 1.3rem;
	min-width: 1.35rem;
	max-width: 1.35rem;
}
/* general styling */
span.empty {
	display: inline-block;
	max-width: 0.5rem;
}
/* navigation bar */
nav {
	/* darker background color than body */
	background-color: #888888;
	/* takes up 90% max-width of body and is centered */
	max-width: 90%;
	margin: 0 auto 0 auto;
	/* border rules */
	border: solid 1px #000000;
	border-radius: 3px;
	/* on top of navbar */
	top: 4px;
	/* lines are 3.25rem tall */
	line-height: 3.25rem;
	/* like fixed but can add margins */
	position: /*webkit*/-webkit-sticky;
	position: /*mozilla*/-moz-sticky;
	position: sticky;
	/* align text left */
	text-align: left;
}
nav span.empty {
	max-width: 0.75rem;
}
#logo {
	padding-top: 2px; 
	margin: 0; 
	float: left;
}
div#logo a {
	margin: 0 0 0 4px;
}
/* content */
small#quote {
	font-size: 1rem;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
}
div#content {
	max-width: 97%;
	margin: 0 auto 0 auto;
}
div#content h1, h2, h3, h4, h5, h6 {
	font-style: italic;
	font-family: initial;
	font-family: Comfortaa, Geneva, Arial, sans-serif;
}

div#content img {
	float: left;
}
div#content p {
	font-size: 1.0625rem;
	font-family: 'Crimson Pro';
	font-weight: 200;
}
div#content p strong {
	font-weight: 700;
}
div#content p a {
	font-weight: 500;
}
/* footer */
footer {
	font-family: 'Google Sans', Helvetica, Arial, sans-serif;
	font-size: 0.95rem;
	padding-left: 0px;
	line-height: 2.5rem;
	min-height: 2.5rem;
}
#arrow {
	display: inline-block;
	bottom: 4px;
	font-size: 1rem;
	margin-right: 2px;
}

footer span {
	font-size: 2rem;
	font-weight: bold;
	display: inline;
	vertical-align: middle;
}
/* for ipads/tablets and smaller */
@media (max-width: 800px) {
	/* the only consistent thing that is non-desktop is the margin on the 
	right of the back-to-top button being nonexistent. */
	footer a#backToTop {
		margin-right: 0px;
	}
}
/* alternative styling for iphone/smartphone viewers*/
@media (max-width: 420px) {
	/* NAVIGATION BAR STYLING */
	/* more room for <nav></nav> contents and smaller font*/
	nav {
		max-width: 96.5%;
		margin: 0 1px 0 1px;
	}
	/* squished viewing experience so smaller margins and font-size for navbar */
	div #logo a {
		margin: 0 1px 0 0;
	}
	nav a.navButton {
		margin: 0 1px 0 0;
		font-size: 0.8rem;
	}
	@media screen and (max-width: 365px) {
		nav a.navButton {
			font-size: 0.7rem;
		}
	}
	/* MAIN CONTENT STYLING */
	/* make paragraph font size smaller */
	div#content p {
		font-size: 0.875rem;
	}
	/* FOOTER STYLING - make the font smaller */
	footer {
		font-size: 0.785rem;
	}
}