body {
	background-color: #000;
	color: #f7f7f7;
	font-family: 'Source Code Pro';
}
a {
	font-weight: 500;
	text-decoration: none;
}
nav a {
	color: #7e8182;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border-top-left-radius: 1rem;
	display: inline-block;
	border: solid #ffffff;
	margin: auto 1rem auto 0;
}
h1 {
	color: #f78214;
}
h2 {
	color: #3cb3e6;
}