body {
	background-color: #212121;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}
nav {
	margin: 1rem auto 1rem auto;
	max-width: 93.5%;
	min-width: 40%;
	text-align: center;
	display: block;
	position: -webkit-sticky;
	position: -moz-sticky;
	top: 1rem;
	position: sticky;
	border-radius: 0.25rem;
	background-color: #8e18c9;
	line-height: 1.25rem;
	padding: 1rem;
}
nav a.nav-button {
	padding: 4px;
	padding-left: 6.5px;
	padding-right: 6.5px;
	margin: auto 1rem auto 0px;
	border: solid #9f9f9f;
	border-top-left-radius: 1rem;
	color: #9f9f9f;
	font-weight: 500;
	text-decoration: none;
	background-color: #000000;
	position: relative;
}
nav a.nav-button:hover {
	border-top-left-radius: 12px;
	color: #000000;
	background-color: inherit;
}
div#content {
	display: block;
	margin: 0 auto;
	padding: 0px;
	min-width: 80%;
	max-width: 98.75%;
	color: #d1d1d1;
}
div#content h1 {
	color: #f4942e;
	border-bottom: solid;
	border-bottom-width: 0.5px;
	width: 60%;
	padding: 0px;
	margin: 0 0 1rem 1rem;
	border-bottom-color: #4dbbea;
	line-height: 2.4rem;
}
img#flag {
	display: inline-block;
	margin-right: 0.5rem;
}
div#content h2, h3, h4, h5, h6 {
	border-bottom: solid;
	border-bottom-width: 0.5px;
	width: 60%;
}
div#content h2, h3 {
	color: #4dbbea;
}
div#content h4, h5, h6 {
	color: #4dbea3;
}
main a {
	color: #50ecf4;
}
main a:hover {
	color: #ffffff;
}
main p {
	text-indent: 1rem;
	font-family: 'Work Sans', Arial, sans-serif;
}
main strong {
	font-weight: 500;
}
footer {
	max-width: 98.5%;
	margin: 0 auto 0 auto;
	border-top: solid #ffffff;
	text-align: center;
}
footer a.footer-nav-button {
	margin: 1rem;
	padding: 0.1rem 1rem;
	border: solid #aaaaaa;
	display: inline-block;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	background-color: #000000;
	color: #d7d7d7;
	text-decoration: none;
}
footer a.footer-nav-button:hover {
	background-color: #d7d7d7;
	color: #474747;
}
@media (min-width: 75rem) {
	nav{width: 45%;}
}
@media (max-width: 70rem) {nav{width: 70%;}}
@media (max-width: 27.5rem) {
	nav{font-size: 0.54rem; width: 90%;}
	nav a.nav-button {
		padding: 2px; 
		padding-left: 3px; 
		padding-right: 3px;
	}
	div#content h1 {margin: 0 0 1rem 0;}
}