<!DOCTYPE html>
<html>
<head>
	<!-- by TytoTF08 -->
	<!-- This Source Code Form is subject to the terms of the Mozilla Public
  	License, v. 2.0. If a copy of the MPL was not distributed with this
  	file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
	<title>Novus Dominatus</title>
	<link rel = "shortcut icon" href = "favicon.n.dominatus.ico" type = "image/x-icon">
	<meta name = "description" content = "In the year 2050, Novus Dominatus is a city-state that runs on a Democratic Government. It was founded following the human expansion to the far reaches of the Known Universe and the colonization of many planets, such as Pluto, Garbados, and some of the bigger meteors in the Oort cloud. The particular planet on which N. Dominatus resides is EarT.H.13, the thirteenth planet on which humans have resided over all time. Set on an artificial island built by the Japanese in 2047, N. Dominatus is one of the Alpha Nations, which are the leaders of the thirteen planets colonized by humans. Because of their high position in the country hierarchy, they have an unlimited supply of bCoin, the virtual currency used by every country. The current version of bCoin is bCoin2.13, and a beta bCoin2.13.2. N. Dominatus is the most stable capitalist country to have ever existed. "/>
	<meta charset = "UTF-8"/>
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
	<meta name = "author" content = "TytoTF08"/>
	<link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Comfortaa:500,600italic,700|EB+Garamond:600italic|Crimson+Pro:300,700|Google+Sans"/>
	<link rel = "stylesheet" href = "http://novus.dominat.us/css/index.css"/>
	<script src = "http://novus.dominat.us/js/index.js"></script>
</head>
<body class = "default">
	<nav>
		<div id = "logo" >
		  <a class = "navButton" href = "index.html">
		  	<img src = "src/n.dominatusFlag.png" height = "48"/>
		  </a>
		</div>
		<span class = "empty"></span>
		<a class = "navButton" href = "index.html">N. Dominatus</a>
	  <a class = "navButton" href = "https://tytotf08.github.io/economy/">Economy</a>
	  <a class = "navButton" href = "#">Citizens</a>
	  <a class = "navButton" href = "#">News</a>
	  <a class = "navButton" href = "#">Archives</a>
  </nav>
	<div id = "content">
		<h1>Novus Dominatus - Page Title<small id = "quote">&nbsp;-&nbsp;</small></h1>
	</div>
	<hr/>
	<footer>
		<a href = "http://novus.dominat.us" id = "backToTop"><span id = "arrow">&#x21EA;</span></a>
	</footer>
</body>
</html>